In [1]:
import pandas as pd
import pycountry as pc

In [2]:
xl = pd.ExcelFile('./covid-anal-data.xlsx')
xl.sheet_names

['covid_dec10',
 'covid_old',
 'obesity',
 'age',
 'gdp_pc',
 'temperature',
 'pop_density',
 'above_sea_level',
 'mobility',
 'healthcare_pc']

In [3]:
df = xl.parse('covid_dec10')
df.head()

,country,total_cases,total_deaths,total_recovered,active_cases,serious_cases,cases_per_million,deaths_per_million,total_tests,tests_per_million,population
0,USA,16295458,302750.0,9507419.0,6485289.0,27324.0,49102.0,912.0,217190821.0,654445.0,3.318704e+08
1,India,9827026,142662.0,9324328.0,360036.0,8944.0,7090.0,103.0,152697399.0,110167.0,1.386049e+09
2,Brazil,6836313,180453.0,5954745.0,701115.0,8318.0,32060.0,846.0,25700000.0,120525.0,2.132342e+08
3,Russia,2597711,45893.0,2059840.0,491978.0,2300.0,17797.0,314.0,81564365.0,558803.0,1.459626e+08
4,France,2351372,57567.0,175891.0,2117914.0,2884.0,35988.0,881.0,28508991.0,436329.0,6.533828e+07

In [4]:
df = xl.parse('obesity')
df.head()

            country  obesity
0             Nauru     61.0
1      Cook Islands     55.9
2             Palau     55.3
3  Marshall Islands     52.9
4            Tuvalu     51.6

In [5]:
df = xl.parse('age')
df.head()

                     country  median_age  median_age_male  median_age_female
0                     Monaco        53.1             51.7               54.5
1                      Japan        47.3             46.0               48.7
2                    Germany        47.1             46.0               48.2
3  Saint Pierre and Miquelon        46.5             46.0               47.0
4                      Italy        45.5             44.4               46.5

In [6]:
df = xl.parse('gdp_pc')
df.head()

      country  gdp_per_capita
0       Qatar        138910.0
1       Macau        113352.0
2  Luxembourg        112045.0
3   Singapore        105689.0
4     Ireland         86988.0

In [7]:
df = xl.parse('temperature')
df.head()

        country  avg_temp_c
0  Burkina Faso       28.25
1          Mali       28.25
2      Kiribati       28.20
3      Djibouti       28.00
4        Tuvalu       28.00

In [8]:
df = xl.parse('pop_density')
df.head()

     country  area_km  pop_p_km
0      Macau    32.90   20550.0
1     Monaco     2.02   18960.0
2  Singapore   722.50    7894.0
3  Hong Kong  1106.00    6782.0
4  Gibraltar     6.80    4956.0

In [9]:
df = xl.parse('mobility')
df.head()

   country  mobility_composite
0  Abruzzo          -47.892765
1     Acre          -27.784453
2  Alabama          -15.439475
3  Alagoas          -32.363884
4   Alaska          -26.006509

In [10]:
df = xl.parse('healthcare_pc')
df.head()

       country country_code  healthcare_pc
0        Aruba          ABW            NaN
1  Afghanistan          AFG      67.122650
2       Angola          AGO     114.459641
3      Albania          ALB            NaN
4      Andorra          AND    4040.786621

In [11]:
a = xl.parse('obesity')
a = a.set_index('country')
b = xl.parse('temperature')
b = b.set_index('country')
c = a.join(b, on='country')
c.head()

                  obesity  avg_temp_c
country
Nauru                61.0         NaN
Cook Islands         55.9         NaN
Palau                55.3        27.6
Marshall Islands     52.9        27.4
Tuvalu               51.6        28.0

In [12]:
[len(a), len(b), len(c)]

[191, 191, 191]

In [13]:
def standardize_country_name(country_name):
    try:
        return pc.countries.search_fuzzy(country_name)[0].name
    except Exception as e:
        print('Not found', country_name, e)
        return country_name

standardize_country_name('vietnam')

'Viet Nam'

In [14]:
df = xl.parse(xl.sheet_names[0])
df['country'] = df.apply(lambda row: standardize_country_name(row['country']),axis=1)
df.head()

Not found UAE uae
Not found S. Korea s. korea
Not found Ivory Coast ivory coast
Not found DRC drc
Not found Channel Islands channel islands
Not found Diamond Princess diamond princess
Not found Faeroe Islands faeroe islands
Not found Caribbean Netherlands caribbean netherlands
Not found St. Barth st. barth
Not found St. Vincent Grenadines st. vincent grenadines
Not found Laos laos
Not found Saint Pierre Miquelon saint pierre miquelon
Not found MS Zaandam ms zaandam

,country,total_cases,total_deaths,total_recovered,active_cases,serious_cases,cases_per_million,deaths_per_million,total_tests,tests_per_million,population
0,United States,16295458,302750.0,9507419.0,6485289.0,27324.0,49102.0,912.0,217190821.0,654445.0,3.318704e+08
1,India,9827026,142662.0,9324328.0,360036.0,8944.0,7090.0,103.0,152697399.0,110167.0,1.386049e+09
2,Brazil,6836313,180453.0,5954745.0,701115.0,8318.0,32060.0,846.0,25700000.0,120525.0,2.132342e+08
3,Russian Federation,2597711,45893.0,2059840.0,491978.0,2300.0,17797.0,314.0,81564365.0,558803.0,1.459626e+08
4,France,2351372,57567.0,175891.0,2117914.0,2884.0,35988.0,881.0,28508991.0,436329.0,6.533828e+07

In [15]:
acc_df = xl.parse(xl.sheet_names[0])
print('-'*20)
acc_df['country'] = acc_df.apply(lambda row: standardize_country_name(row['country']),axis=1)
print('-'*20)
acc_df = acc_df.set_index('country')
print(xl.sheet_names[0], len(acc_df))

sheet_blacklist = ['covid_old']

for sheet_name in xl.sheet_names[1:]:
    if sheet_name in sheet_blacklist:
        continue
    
    df = xl.parse(sheet_name)
    
    print('-'*20)
    print(sheet_name, len(df))
    print('-'*20)
    df['country'] = df.apply(lambda row: standardize_country_name(row['country']),axis=1)
    print('-'*20)
    df = df.groupby(['country']).mean()
    
#     df = df.set_index('country')
    acc_df = acc_df.join(df, on='country', how='left', rsuffix=f'_{sheet_name}')
    
acc_df.head()

--------------------
Not found UAE uae
Not found S. Korea s. korea
Not found Ivory Coast ivory coast
Not found DRC drc
Not found Channel Islands channel islands
Not found Diamond Princess diamond princess
Not found Faeroe Islands faeroe islands
Not found Caribbean Netherlands caribbean netherlands
Not found St. Barth st. barth
Not found St. Vincent Grenadines st. vincent grenadines
Not found Laos laos
Not found Saint Pierre Miquelon saint pierre miquelon
Not found MS Zaandam ms zaandam
--------------------
covid_dec10 220
--------------------
obesity 191
--------------------
Not found Cape Verde cape verde
Not found Ivory Coast ivory coast
Not found North Korea north korea
Not found Democratic Republic of the Congo democratic republic of the congo
Not found Laos laos
Not found South Korea south korea
--------------------
--------------------
age 230
--------------------
Not found Saint Helena, Ascension, and Tristan da Cunha saint helena, ascension, and tristan da cunha
Not found South Korea south korea
Not found Macau macau
Not found North Korea north korea
Not found World world
Not found Burma burma
Not found Laos laos
Not found Eswatini (Swaziland) eswatini (swaziland)
Not found Palestine (West Bank) palestine (west bank)
Not found East Timor east timor
Not found Democratic Republic of the Congo democratic republic of the congo
Not found Palestine (Gaza Strip) palestine (gaza strip)
--------------------
--------------------
gdp_pc 193
--------------------
Not found Macau macau
Not found Korea, South korea, south
Not found Bahamas, The bahamas, the
Not found World[n 2] world[n 2]
Not found Cape Verde cape verde
Not found Laos laos
Not found Congo, Republic of the congo, republic of the
Not found Gambia, The gambia, the
Not found Congo, Democratic Republic of the congo, democratic republic of the
--------------------
--------------------
temperature 191
--------------------
Not found Ivory Coast ivory coast
Not found Democratic Republic of the Congo democratic republic of the congo
Not found Cape Verde cape verde
Not found Laos laos
Not found South Korea south korea
Not found North Korea north korea
--------------------
--------------------
pop_density 253
--------------------
Not found Macau macau
Not found South Korea south korea
Not found United States Virgin Islands united states virgin islands
Not found North Korea north korea
Not found Cape Verde cape verde
Not found Transnistria transnistria
Not found Northern Cyprus northern cyprus
Not found Wallis & Futuna wallis & futuna
Not found Ivory Coast ivory coast
Not found World world
Not found World world
Not found Democratic Republic of the Congo democratic republic of the congo
Not found Laos laos
Not found Somaliland somaliland
Not found Saint Helena Ascension and Tristan da Cunha saint helena ascension and tristan da cunha
Not found South Ossetia south ossetia
Not found Artsakh artsakh
Not found Pitcairn Islands pitcairn islands
--------------------
--------------------
above_sea_level 168
--------------------
Not found Congo DR congo dr
Not found Corsica corsica
Not found Ivory Coast ivory coast
Not found Laos laos
Not found North Korea north korea
Not found South Korea south korea
Not found Eswatini (Swaziland) eswatini (swaziland)
--------------------
--------------------
mobility 192
--------------------
Not found Balearic Islands balearic islands
Not found Basque Country basque country
Not found Bavaria bavaria
Not found Bolivia (Plurinational State of) bolivia (plurinational state of)
Not found Canary Islands canary islands
Not found Castile and Leon castile and leon
Not found Catalonia catalonia
Not found Community of Madrid community of madrid
Not found Lower Saxony lower saxony
Not found Mexico City mexico city
Not found Mexico_country mexico_country
Not found Navarre navarre
Not found North Rhine-Westphalia north rhine-westphalia
Not found Provincia autonoma di Bolzano provincia autonoma di bolzano
Not found Provincia autonoma di Trento provincia autonoma di trento
Not found Rhineland-Palatinate rhineland-palatinate
Not found Saxony saxony
Not found Saxony-Anhalt saxony-anhalt
Not found Thuringia thuringia
Not found Valencian Community valencian community
--------------------
--------------------
healthcare_pc 264
--------------------
Not found Arab World arab world
Not found Bahamas, The bahamas, the
Not found Central Europe and the Baltics central europe and the baltics
Not found Channel Islands channel islands
Not found Congo, Dem. Rep. congo, dem. rep.
Not found Congo, Rep. congo, rep.
Not found Caribbean small states caribbean small states
Not found East Asia & Pacific (excluding high income) east asia & pacific (excluding high income)
Not found Early-demographic dividend early-demographic dividend
Not found East Asia & Pacific east asia & pacific
Not found Europe & Central Asia (excluding high income) europe & central asia (excluding high income)
Not found Europe & Central Asia europe & central asia
Not found Egypt, Arab Rep. egypt, arab rep.
Not found Euro area euro area
Not found European Union european union
Not found Fragile and conflict affected situations fragile and conflict affected situations
Not found Micronesia, Fed. Sts. micronesia, fed. sts.
Not found Gambia, The gambia, the
Not found High income high income
Not found Hong Kong SAR, China hong kong sar, china
Not found Heavily indebted poor countries (HIPC) heavily indebted poor countries (hipc)
Not found IBRD only ibrd only
Not found IDA & IBRD total ida & ibrd total
Not found IDA total ida total
Not found IDA blend ida blend
Not found IDA only ida only
Not found Not classified not classified
Not found Iran, Islamic Rep. iran, islamic rep.
Not found St. Kitts and Nevis st. kitts and nevis
Not found Korea, Rep. korea, rep.
Not found Latin America & Caribbean (excluding high income) latin america & caribbean (excluding high income)
Not found Lao PDR lao pdr
Not found St. Lucia st. lucia
Not found Latin America & Caribbean latin america & caribbean
Not found Least developed countries: UN classification least developed countries: un classification
Not found Low income low income
Not found Lower middle income lower middle income
Not found Low & middle income low & middle income
Not found Late-demographic dividend late-demographic dividend
Not found Macao SAR, China macao sar, china
Not found St. Martin (French part) st. martin (french part)
Not found Middle East & North Africa middle east & north africa
Not found Middle income middle income
Not found Middle East & North Africa (excluding high income) middle east & north africa (excluding high income)
Not found North America north america
Not found OECD members oecd members
Not found Other small states other small states
Not found Pre-demographic dividend pre-demographic dividend
Not found Korea, Dem. People’s Rep. korea, dem. people’s rep.
Not found West Bank and Gaza west bank and gaza
Not found Pacific island small states pacific island small states
Not found Post-demographic dividend post-demographic dividend
Not found South Asia south asia
Not found Sub-Saharan Africa (excluding high income) sub-saharan africa (excluding high income)
Not found Sub-Saharan Africa sub-saharan africa
Not found Small states small states
Not found East Asia & Pacific (IDA & IBRD countries) east asia & pacific (ida & ibrd countries)
Not found Europe & Central Asia (IDA & IBRD countries) europe & central asia (ida & ibrd countries)
Not found Latin America & the Caribbean (IDA & IBRD countries) latin america & the caribbean (ida & ibrd countries)
Not found Middle East & North Africa (IDA & IBRD countries) middle east & north africa (ida & ibrd countries)
Not found South Asia (IDA & IBRD) south asia (ida & ibrd)
Not found Sub-Saharan Africa (IDA & IBRD countries) sub-saharan africa (ida & ibrd countries)
Not found Upper middle income upper middle income
Not found St. Vincent and the Grenadines st. vincent and the grenadines
Not found Venezuela, RB venezuela, rb
Not found Virgin Islands (U.S.) virgin islands (u.s.)
Not found World world
Not found Yemen, Rep. yemen, rep.
--------------------

,total_cases,total_deaths,total_recovered,active_cases,serious_cases,cases_per_million,deaths_per_million,total_tests,tests_per_million,population,...,median_age,median_age_male,median_age_female,gdp_per_capita,avg_temp_c,area_km,pop_p_km,asl_meters,mobility_composite,healthcare_pc
country,,,,,,,,,,,,,,,,,,,,,
United States,16295458,302750.0,9507419.0,6485289.0,27324.0,49102.0,912.0,217190821.0,654445.0,3.318704e+08,...,39.55,38.35,40.65,67426.0,8.55,9.833517e+06,34.000000,760.0,-25.947264,10246.138672
India,9827026,142662.0,9324328.0,360036.0,8944.0,7090.0,103.0,152697399.0,110167.0,1.386049e+09,...,28.10,27.20,28.60,9027.0,23.65,3.287240e+06,415.000000,621.0,NaN,69.293098
Brazil,6836313,180453.0,5954745.0,701115.0,8318.0,32060.0,846.0,25700000.0,120525.0,2.132342e+08,...,32.60,31.10,32.80,17106.0,24.95,8.515767e+06,25.000000,320.0,-30.393815,928.799316
Russian Federation,2597711,45893.0,2059840.0,491978.0,2300.0,17797.0,314.0,81564365.0,558803.0,1.459626e+08,...,39.60,36.60,42.50,30820.0,-5.10,1.712524e+07,9.000000,600.0,-26.168398,585.873230
France,2351372,57567.0,175891.0,2117914.0,2884.0,35988.0,881.0,28508991.0,436329.0,6.533828e+07,...,41.40,39.60,43.10,48640.0,10.70,1.819891e+05,350.666667,375.0,-48.319148,4379.727051

In [16]:
len(acc_df)

220

In [17]:
acc_df.to_csv('clean_data.csv')